<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Need help with Teranga ? You are in the right place"/>
    <meta name="keywords" content="teranga, support, discord, bot, help, blueprint, visual scripting, economy, battle, war" />

    <meta property="og:title" content="Teranga Support" />
    <meta property="og:description" content="Need help with Teranga ? You are in the right place !" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://help.teranga.app" />
    <meta property="og:image" content="https://i.postimg.cc/CLyx8pYh/meta-image.png" />
    <link rel="icon" href="./assets/Official-Vector.ico" />
    <title>Teranga Help Center</title>

</head>
<body>
    
</body>
</html>