<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Need help with Teranga ? You are in the right place"/>
    <meta name="keywords" content="teranga, support, discord, bot, help, blueprint, visual scripting, economy, battle, war" />

    <meta property="og:title" content="Teranga Support" />
    <meta property="og:description" content="Need help with Teranga ? You are in the right place !" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://help.teranga.app" />
    <meta property="og:image" content="https://i.postimg.cc/CLyx8pYh/meta-image.png" />
    <link rel="icon" href="./assets/Official-Vector.ico" />
    <title>Teranga Help Center</title>

    <link rel="stylesheet" href="./style/general.css">
    <link rel="stylesheet" href="./style/components.css">
    <link rel="stylesheet" href="./style/responsive.css">

    <script defer src="./script/index.js"></script>
    <script defer src="./script/css.js"></script>
    <script defer src="./script/crud.js"></script>

</head> 
<body>
    <!-- - - - - - - - - - - - - - - - - -->

    <div onclick="toggleLateral()" class="open-menu"><img src="./assets/open.svg" class="open-icon"></div>

    <!-- - - - - - - - - - - - - - - - - -->

    <section class="loading">
        <div class="LoadingBars">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </section>

    <div class="get-started-popup">
        <div class="tuto">
            <div id="tuto-youtube" class="video-container">
                <iframe id="get-started-id" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="progress-container">
                <h1 class="tuto-title">Learning Path</h1>
                <div class="step">
                    <img src="./assets/completed.svg" class="progress-icon"> 
                    <h3 class="step-desc">1. Add teranga to your server</h3>
                </div>
                <div class="step">
                    <img src="./assets/completed.svg" class="progress-icon "> 
                    <h3 class="step-desc">2. Learn more about categories</h3>
                </div>
                <div class="step">
                    <img src="./assets/completed.svg" class="progress-icon default"> 
                    <h3 class="step-desc next">3. Learn more about embed manager</h3>
                </div>
                <div class="step">
                    <img src="./assets/completed.svg" class="progress-icon default"> 
                    <h3 class="step-desc next">4. Learn, setup and use economy system</h3>
                </div>
                <div class="step">
                    <img src="./assets/completed.svg" class="progress-icon default"> 
                    <h3 class="step-desc next">5. Learn setup and use blueprint system</h3>
                </div>
                <div class="step">
                    <img src="./assets/completed.svg" class="progress-icon default"> 
                    <h3 class="step-desc next">6. Share & manage your blueprints</h3>
                </div>
                <div class="step">
                    <img src="./assets/completed.svg" class="progress-icon default"> 
                    <h3 class="step-desc next">7. Go beyond the limit</h3>
                </div>
                <div class="tuto-actions">
                    <button onclick="toggleGetStarted()" class="tuto-close">Close</button>
                    <button class="tuto-continue">Continue</button>
                </div>
            </div>
        </div>
    </div>

    <!-- - - - - - - - - - - - - - - - - -->

    <div class="lateral-menu">
        <div class="user-infos">
            <img src="./assets/default.png" class="user-logo">
            <div class="user-name"><span id="user-name">User</span><span class="role">Discord User</span></div>
            <img src="./assets/dots.svg" class="dots">
        </div>
        <h1 class="nav-title">Search for questions</h1>
        <h3 class="nav-desc">Type a question or search keywords</h3>
        <input type="text" class="search-bar" placeholder="Search...">
        <div class="outline">
            <button onclick="toggleGetStarted()" class="get-started">Getting Started<img src="./assets/gs.svg"></button>
        </div>
        <div class="results">
            <h3 class="recommended">Add teranga to your server</h3>
            <h3 class="recommended">Get started with the dashboard</h3>
            <h3 class="recommended">Get started with the embed manager</h3>
            <h3 class="recommended">How to start your adventure ?</h3>
            <h3 class="recommended">Customize your discord server</h3>
        </div>
        <div class="outline-sh">
            <div class="create-ticket">
                <h1 class="sh-title">How can I assist you?</h1>
                <h3 class="sh-desc">We have a proven track record of solving problems</h3>
                <div class="row-buttons">
                    <button id="new-case-button" class="create-ticket-btn">Create a ticket</button>
                    <button id="my-tickets" class="create-ticket-btn">My tickets</button>
                </div>
            </div>
        </div>
    </div>

    <!-- - - - - - - - - - - - - - - - - -->

    <section class="tickets">
        <div class="selector">
            <ul class="elements">
                <li><img src="./assets/ticket.svg">Tickets</li>
                <li>In progress</li>
                <li class="responsive">Closed</li>
                <li class="responsive">Urgent</li>
            </ul>
            <div class="icos-1">
                <img src="./assets/search-ico.svg">
                <img src="./assets/refresh.svg">
            </div>
        </div>
        <div class="selector-active"></div>

        <!-- - - - - - - - - - - - - - - - - -->

        <section class="display-tickets">
            <div class="actions">
                <button class="new-case"><img src="./assets/plus.svg">New case</button>
                <button class="sorting"><img src="./assets/sort.svg">Sort: Newest</button>
            </div>
            <div class="all-tickets">
                <div class="ticket">
                    <div class="infos-ticket">
                        <img class="ticket-type-img" src="./assets/issue-ir.svg">
                        <h3>Ticket #5bf142459b72e12b2b1b2cd<span class="ticket-type">Incident / Report</span></h3>
                        <img class="dots-ticket" src="./assets/dots.svg">
                    </div>
                    <h2 class="ticket-title">How to stop being gay (gay = Maxence) ?</h2>
                    <p class="ticket-description">Thank you to my friend Tonin for creating Teranga. Your dedication and hard work have resulted in a truly remarkable piece of software.</p>
                    <div class="ticket-footer">
                        <img class="author-ticket" src="./assets/default.png">
                        <h4 class="author-name">Lancelot Gabriel<span class="user-type">Discord User</span></h4>
                        <div class="details">
                            <div class="detail">
                                <img src="./assets/chrono.svg">
                                <h4 class="detail-text">8h ago</h4>
                            </div>
                            <div class="detail">
                                <img src="./assets/chat.svg">
                                <h4 class="detail-text">12</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ticket">
                    <div class="infos-ticket">
                        <img class="ticket-type-img" src="./assets/issue-ir.svg">
                        <h3>Ticket #5bf142459b72e12b2b1b2cd<span class="ticket-type">Incident / Report</span></h3>
                        <img class="dots-ticket" src="./assets/dots.svg">
                    </div>
                    <h2 class="ticket-title">How to stop being gay (gay = Maxence) ?</h2>
                    <p class="ticket-description">Thank you to my friend Tonin for creating Teranga. Your dedication and hard work have resulted in a truly remarkable piece of software.</p>
                    <div class="ticket-footer">
                        <img class="author-ticket" src="./assets/default.png">
                        <h4 class="author-name">Lancelot Gabriel<span class="user-type">Discord User</span></h4>
                        <div class="details">
                            <div class="detail">
                                <img src="./assets/chrono.svg">
                                <h4 class="detail-text">8h ago</h4>
                            </div>
                            <div class="detail">
                                <img src="./assets/chat.svg">
                                <h4 class="detail-text">12</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ticket">
                    <div class="infos-ticket">
                        <img class="ticket-type-img" src="./assets/issue-ir.svg">
                        <h3>Ticket #5bf142459b72e12b2b1b2cd<span class="ticket-type">Incident / Report</span></h3>
                        <img class="dots-ticket" src="./assets/dots.svg">
                    </div>
                    <h2 class="ticket-title">How to stop being gay (gay = Maxence) ?</h2>
                    <p class="ticket-description">Thank you to my friend Tonin for creating Teranga. Your dedication and hard work have resulted in a truly remarkable piece of software.</p>
                    <div class="ticket-footer">
                        <img class="author-ticket" src="./assets/default.png">
                        <h4 class="author-name">Lancelot Gabriel<span class="user-type">Discord User</span></h4>
                        <div class="details">
                            <div class="detail">
                                <img src="./assets/chrono.svg">
                                <h4 class="detail-text">8h ago</h4>
                            </div>
                            <div class="detail">
                                <img src="./assets/chat.svg">
                                <h4 class="detail-text">12</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ticket">
                    <div class="infos-ticket">
                        <img class="ticket-type-img" src="./assets/issue-pi.svg">
                        <h3>Ticket #5bf142459b72e12b2b1b2cd<span class="ticket-type">Payement Related</span></h3>
                        <img class="dots-ticket" src="./assets/dots.svg">
                    </div>
                    <h2 class="ticket-title">Please refund me this fucking premium !</h2>
                    <p class="ticket-description">Fuck all the staff, this fuking premium is fucking bad, fuck, fuck. REFUND ME OR GAY, REFUND OR CONSEQUENCE, NOW FUKCING TEAM </p>
                    <div class="ticket-footer">
                        <img class="author-ticket" src="./assets/default2.png">
                        <h4 class="author-name">Maxence<span class="user-type">Discord User</span></h4>
                        <div class="details">
                            <div class="detail">
                                <img src="./assets/chrono.svg">
                                <h4 class="detail-text">1h ago</h4>
                            </div>
                            <div class="detail">
                                <img src="./assets/chat.svg">
                                <h4 class="detail-text">5</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- - - - - - - - - - - - - - - - - -->

        <section class="display-messages">
            <div class="actions">
                <img class="support-icon" src="./assets/default2.png">
                <h3 class="support-name"><div class="row-support">Maxence<img class="support-badge" src="./assets/badge-tt.svg"></div><span class="support-role">Discord User</span></h3>
                <button id="close" class="new-case"><img src="./assets/trash.svg">Close Ticket</button>
                <button id="actions" class="sorting"><img src="./assets/sort.svg">Actions</button>
            </div>
            <div class="messages-container">
                <div class="tickets-infos">
                    <div class="ticker-infos-row">
                        <img class="ticket-badge" src="./assets/issue-bb.svg">
                        <h3 class="ticket-desc">Ticket #5bf142459b72e12b2b1b2cd</h3>
                    </div>
                    <p class="ticket-user-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                </div>
                <div class="messages">
                   <div class="left-message">
                        <img src="./assets/default2.png" class="conv-icons">
                        <div class="left-box">Dear, Toninja our team received your problem, you should except an answer in about 5 hours, make sure to read articles and try to find answer to your question we also have a global support server if you need global help</div>
                   </div>
                   <div class="right-message">
                        <img src="./assets/default.png" class="conv-icons">
                        <div class="right-box">Thank you for your help, I would like to add some information to my case here is: I am gay, I have this and this, I love cat, and my discord id is way to beautiful, and check out my youtube channel, and if you still have time to please proceed to lorep ipsum dolor item atsit a vraimejnt eally rht x !</div>
                    </div>
                    <div id="reduced" class="outline">
                        <div class="alert"><img src="./assets/alert.svg" class="message-alert">Your ticket has been placed in the urgent queue, we’re doing our best to solve your problem </div>
                    </div>
                    <div class="left-message">
                        <img src="./assets/default2.png" class="conv-icons">
                        <div class="left-box">Thank my indian friend !</div>
                   </div>
                </div>
            </div>
            <div class="row-user-inputs">
                <textarea placeholder="Type your message here..." class="message-input"></textarea>
                <img class="send-button" src="./assets/send.svg">
            </div>
        </section>

        <!-- - - - - - - - - - - - - - - - - -->

        <section class="display-new-case">
            <div class="actions">
                <div id="margin-low-low" class="outline">
                    <div id="alert-case" class="alert">
                        <img src="./assets/alert.svg" class="message-alert">Excepted: 2h
                    </div>
                </div>
                <button id="cancel" class="new-case">
                    <img id="reduced-ico" src="./assets/cancel.svg">Cancel
                </button>
            </div>
            <div class="form">
                <div class="row-header">
                    <textarea class="issue-title" placeholder="Issue title, be specific in less than 100 characters"></textarea>
                    <button id="categorie" class="sorting">
                        <img id="reduced-ico" src="./assets/sort.svg">Category
                    </button>
                </div>
                <textarea class="issue-desc" placeholder="Please explain your issue as specifically as possible. The more clearly you can communicate your issue to us, the faster we will be able to provide a solution."></textarea>
                <button id="submit" class="new-case">
                    <img id="reduced-ico" src="./assets/post.svg">Submit
                </button>
            </div>
        </section>
    </section>

    <!-- - - - - - - - - - - - - - - - - -->

    <section class="article">
        <h1 class="art-title">How to hahah toninjalabenja on valorant ?</h1>
        <h3 class="art-lower-title">The best and easy way do it is by using your haha obviously</h3>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hVF2rc_F64s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p class="art-paragraph">It is likely that the video of the snowboarder being chased by a bear is a hoax. Brown bears do not live in Japan, and the audio of fake growls added to the video further suggests that the video is not genuine. Additionally, the fact that the bear appears to be split in half and part of the image is missing indicates that the video has been edited or manipulated in some way. It is always important to be skeptical of videos and other information that we encounter online, and to verify their authenticity before believing or sharing them.</p>
        <p class="art-paragraph">It is likely that the video of the snowboarder being chased by a bear is a hoax. Brown bears do not live in Japan, and the audio of fake growls added to the video further suggests that the video is not genuine. Additionally, the fact that the bear appears to be split in half and part of the image is missing indicates that the video has been edited or manipulated in some way. It is always important to be skeptical of videos and other information that we encounter online, and to verify their authenticity before believing or sharing them.</p>
        <p class="art-paragraph">It is likely that the video of the snowboarder being chased by a bear is a hoax. Brown bears do not live in Japan, and the audio of fake growls added to the video further suggests that the video is not genuine. Additionally, the fact that the bear appears to be split in half and part of the image is missing indicates that the video has been edited or manipulated in some way. It is always important to be skeptical of videos and other information that we encounter online, and to verify their authenticity before believing or sharing them.</p>
        <div id="margin-low" class="outline">
            <div class="alert"><img src="./assets/alert.svg" class="message-alert">Make sure to deploy your blueprint before testing it, click on deploy and wait until it show 'deployed'</div>
        </div>
    </section>
</body>
</html>