<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Need help with Teranga ? You are in the right place"/>
    <meta name="keywords" content="teranga, support, discord, bot, help, blueprint, visual scripting, economy, battle, war" />

    <meta property="og:title" content="Teranga Support" />
    <meta property="og:description" content="Need help with Teranga ? You are in the right place !" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://help.teranga.app" />
    <meta property="og:image" content="https://i.postimg.cc/CLyx8pYh/meta-image.png" />
    <link rel="icon" href="./assets/Official-Vector.ico" />
    <title>Teranga Help Center</title>

    <link rel="stylesheet" href="./style/general.css">
    <link rel="stylesheet" href="./style/components.css">
    <link rel="stylesheet" href="./style/responsive.css">

    <script defer src="./script/index.js"></script>
    <script defer src="./script/css.js"></script>
    <script defer src="./script/crud.js"></script>

</head> 
<body>
    <!-- - - - - - - - - - - - - - - - - -->

    <div onclick="toggleLateral()" class="open-menu"><img src="./assets/open.svg" class="open-icon"></div>

    <!-- - - - - - - - - - - - - - - - - -->

    <section class="loading">
        <div class="LoadingBars">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </section>

    <div class="get-started-popup">
        <div class="tuto">
            <div id="tuto-youtube" class="video-container">
                <iframe id="get-started-id" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="progress-container">
                <h1 class="tuto-title">Learning Path</h1>
                <div class="step">
                    <img src="./assets/completed.svg" class="progress-icon"> 
                    <h3 class="step-desc">1. Add teranga to your server</h3>
                </div>
                <div class="step">
                    <img src="./assets/completed.svg" class="progress-icon "> 
                    <h3 class="step-desc">2. Learn more about categories</h3>
                </div>
                <div class="step">
                    <img src="./assets/completed.svg" class="progress-icon default"> 
                    <h3 class="step-desc next">3. Learn more about embed manager</h3>
                </div>
                <div class="step">
                    <img src="./assets/completed.svg" class="progress-icon default"> 
                    <h3 class="step-desc next">4. Learn, setup and use economy system</h3>
                </div>
                <div class="step">
                    <img src="./assets/completed.svg" class="progress-icon default"> 
                    <h3 class="step-desc next">5. Learn setup and use blueprint system</h3>
                </div>
                <div class="step">
                    <img src="./assets/completed.svg" class="progress-icon default"> 
                    <h3 class="step-desc next">6. Share & manage your blueprints</h3>
                </div>
                <div class="step">
                    <img src="./assets/completed.svg" class="progress-icon default"> 
                    <h3 class="step-desc next">7. Go beyond the limit</h3>
                </div>
                <div class="tuto-actions">
                    <button onclick="toggleGetStarted()" class="tuto-close">Close</button>
                    <button class="tuto-continue">Continue</button>
                </div>
            </div>
        </div>
    </div>

    <!-- - - - - - - - - - - - - - - - - -->

    <div class="lateral-menu">
        <button class="login">Login</button>
        <div class="user-infos">
            <img src="./assets/default.png" class="user-logo">
            <div class="user-name"><span id="user-name">User</span><span class="role">Discord User</span></div>
            <img id="logout" src="./assets/logout.svg" class="dots">
        </div>
        <h1 class="nav-title">Search for questions</h1>
        <h3 class="nav-desc">Type a question or search keywords</h3>
        <input type="text" class="search-bar" placeholder="Search...">
        <div class="outline">
            <button onclick="toggleGetStarted()" class="get-started">Getting Started<img src="./assets/gs.svg"></button>
        </div>
        <div class="results"></div>
        <div class="outline ideas-center">
            <button onclick="openIdeas()" class="get-started">Ideas Center<img src="./assets/open-arrow.svg" id="open-arrow"></button>
        </div>
        <div class="outline-sh">
            <div class="create-ticket">
                <h1 class="sh-title">How can I assist you?</h1>
                <h3 class="sh-desc">We have a proven track record of solving problems</h3>
                <div class="row-buttons">
                    <button id="new-case-button" class="create-ticket-btn interact">Create a ticket</button>
                    <button id="my-tickets" class="create-ticket-btn interact">My tickets</button>
                </div>
            </div>
        </div>
    </div>

    <!-- - - - - - - - - - - - - - - - - -->

    <section class="tickets">
        <div class="selector">
            <ul class="elements">
                <li onclick="LoadTickets('open')" id="open-ticket"><img src="./assets/ticket.svg">Tickets</li>
                <li onclick="LoadTickets('closed')" id="closed-ticket">Closed</li>
            </ul>
            <div class="icos-1">
                <img src="./assets/search-ico.svg">
                <img onclick="LoadTickets(localStorage.getItem('status'))" class="responsive" src="./assets/refresh.svg">
            </div>
        </div>
        <div class="selector-active"></div>

        <!-- - - - - - - - - - - - - - - - - -->

        <section class="display-tickets">
            <div class="actions">
                <button id="new-case" class="new-case interact"><img src="./assets/plus.svg">New case</button>
                <button onclick="document.querySelector('.sort-order').classList.toggle('open-modal')" class="sorting"><img src="./assets/sort.svg">Sort</button>
                <div id="sorting" class="dropdown-content sort-order">
                    <a onclick="localStorage.setItem('sorting', 'n'), LoadTickets(localStorage.getItem('status'))">Newest</a>
                    <a onclick="localStorage.setItem('sorting', 'o'), LoadTickets(localStorage.getItem('status'))">Oldest</a>
                </div>
            </div>
            <div class="all-tickets">
                
                
            </div>
        </section>

        <!-- - - - - - - - - - - - - - - - - -->

        <section class="display-messages">
            <div class="actions">
                <img class="support-icon" src="./assets/logo.svg">
                <h3 class="support-name"><div class="row-support">Teranga<img title="Teranga Team" class="support-badge" src="./assets/badge-tt.svg"></div><span class="support-role">Teranga Team</span></h3>
                <button id="infos" class="sorting interact"><img id="no-padding" src="./assets/infos.svg"></button>
                <button onclick="document.querySelector('.options').classList.toggle('qa-open')" id="qa" class="sorting"><img id="no-padding" src="./assets/qa.svg"></button>
                <button id="close-ticket" class="new-case"><img src="./assets/trash.svg">Close Ticket</button>
                <button id="closed" class="sorting interact"><img src="./assets/close.svg">Close</button>
            </div>
            <div class="options">
                <button id="add-alert" class="new-case"><img src="./assets/plus.svg">Alert</button>
                <button id="notification" class="sorting"><img src="./assets/notif.svg">Notif</button>
                <button id="discord" class="new-case"><img src="./assets/discord.svg">Discord</button>
            </div>
            <div class="messages-container">
                <div class="tickets-infos">
                    <div class="ticker-infos-row">
                        <img class="ticket-badge" src="./assets/issue-bb.svg">
                        <h3 class="ticket-desc">Ticket #5bf142459b72e12b2b1b2cd</h3>
                    </div>
                    <p class="ticket-user-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                </div>
            </div>
            <div class="infos-modal">
                <div class="banner"></div>
                <div class="user-ticket-infos">
                    <img class="user-ticket-info-avatar" src="./assets/default.png">
                    <div class="row-low-detail">
                        <h3 class="user-ticket-info-name">User</h3>
                        <h3 class="user-ticket-info-discriminator">Discord User</h3>
                    </div>
                </div>
                <button id="close-discord-infos" class="close-modal-infos interact">Close</button>
            </div>
            <span id="auto" class="loader"></span>
            <div class="row-user-inputs">
                <input placeholder="Type your message here..." class="message-input"></input>
                <img class="send-button" src="./assets/send.svg">
            </div>
        </section>

        <!-- - - - - - - - - - - - - - - - - -->

        <section class="display-new-case">
            <div class="actions">
                <div id="margin-low-low" class="outline">
                    <div id="alert-case" class="alert">
                        <img src="./assets/alert.svg" class="message-alert">Expected: 2h
                    </div>
                </div>
                <button id="cancel" class="new-case interact">
                    <img id="reduced-ico" src="./assets/cancel.svg">Cancel
                </button>
            </div>
            <div class="form">
                <div class="row-header">
                    <textarea class="issue-title" placeholder="Issue title, be specific in less than 100 characters"></textarea>
                    <button onclick="document.querySelector('.category-menu').classList.toggle('open-modal')" id="categorie" class="sorting">
                        <img id="reduced-ico" src="./assets/sort.svg">Category
                    </button>
                    <div class="dropdown-content category-menu">
                        <a onclick="localStorage.setItem('category', 'gi')">General Inqueries</a>
                        <a onclick="localStorage.setItem('category', 'ir')">Incident or report</a>
                        <a onclick="localStorage.setItem('category', 'pi')">Payement issues</a>
                        <a onclick="localStorage.setItem('category', 'bb')">Bug or breach</a>
                    </div>
                </div>
                <textarea class="issue-desc" placeholder="Please explain your issue as specifically as possible. The more clearly you can communicate your issue to us, the faster we will be able to provide a solution."></textarea>
                <button id="submit" class="new-case">
                    <img id="reduced-ico" src="./assets/post.svg">Submit
                </button>
            </div>
        </section>
    </section>

    <!-- - - - - - - - - - - - - - - - - -->

    <section class="article">
        
    </section>

    <!-- - - - - - - - - - - - - - - - - -->

    <section class="ideasCenter">
        <h1 class="ic-title">Ideas Center<button id="new-post" class="sorting interact">New post</button></h1>
        <h3 class="ic-description">Submit your ideas to improve Teranga</h3>
        <div class="ic-container">
            <div class="post-container">
                <h2 class="trending-title">Trending</h2>
                <div class="container-infos">
                    <p>Infos</p>
                    <p>Upvotes</p>
                </div>
                <div class="box-container trending">
                </div>
            </div>
            <div class="post-container">
                <h2 class="trending-title">Newest</h2>
                <div class="container-infos">
                    <p>Infos</p>
                    <p>Upvotes</p>
                </div>
                <div class="box-container newest">
                </div>
            </div>
        </div>
        <div class="open-post-container">
            <div class="post-user-infos">
                <img class="post-user-avatar" src="./assets/default.png">
                <div class="row-low-detail">
                    <h3 class="post-user-name">User</h3>
                    <h3 class="post-user-discriminator">Discord User</h3>
                </div> 
            </div>
            <div class="post-flex">
               <div class="post-content">
                    <h1>Title</h1>
                    <h3>Description</h3>
               </div>
               <div class="post-actions">
                    <button id="upvote" class="post-action new-case">Upvote<img src="./assets/plus.svg"></button>
                    <button id="close-post" class="post-action sorting interact">Back<img src="./assets/back-post.svg"></button>
                    <button id="delete-post" class="post-action sorting interact">Delete post<img src="./assets/post-trash.svg"></button>
               </div>
            </div>
            <input class="post-input" placeholder="Add a comment... (Press enter to send)"></input>
        </div>
        <div class="new-post-container">
            <input id="post-title" class="post-input" placeholder="Title..."></input>
            <textarea id="post-description" class="post-input special-post-input" placeholder="Description..."></textarea>
            <div style="margin-top: 10px;" class="row-buttons">
                <button id="submit-post" class="new-case">Create a new post</but>
                <button id="close-new-post" class="sorting interact">Cancel</button>
            </div>
        </div>
    </section>
    
<script src="/socket.io/socket.io.js"></script>
</body>
</html>