@media screen and (max-width: 767px) {
    body {
        padding: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .article {
        margin-left: 0;
    }
    .tuto {
        width: 100%;
        flex-direction: column;
    }
    #tuto-youtube {
        width: 100%;
        height: 40%;
    }
    .lateral-menu {
        padding: 10px;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        width: 100%;
        min-width: 100%;
        height: calc(100vh - 50px);
        z-index: 100;
        background-color: #F5F6F7;
    }
    .lateral-menu {
        transform: translateX(-100%);
    }
    .open-menu {
        display: flex;
    }
    .tickets {
        margin-left: 0;
        padding: 0;
        padding-inline: 0px;
    }
    .details {
        display: none;
    }
    .responsive {
        display: none !important;
    }
    .nav-title {
        margin-top: 20px;
    }
    .support-icon {
        display: none;
    }
    .support-name {
        display: none;
    }
    .new-case {
        margin-left: 0 !important;
    }
    .send-button {
        min-width: 18%;
    }
    .actions {
        min-height: 50px;
    }
    .messages-container {
        height: 100%;
    }
    .row-user-inputs {
        min-height: 70px;
        margin-bottom: 70px;
    }
    #infos {
        margin-inline: 5px;
    }
    #close-ticket {
        margin-inline: 5px;
    }
    #closed {
        margin-inline: 5px;
    }
}
    
