@media screen and (max-width: 767px) {
    body {
        padding: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .article {
        margin-left: 0;
    }
    .tuto {
        width: 100%;
        flex-direction: column;
    }
    #tuto-youtube {
        width: 100%;
        padding-bottom: calc(56.25% * 1);
    }
    .lateral-menu {
        padding: 10px;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        width: 100%;
        min-width: 100%;
        z-index: 1000;
        background-color: #F5F6F7;
    }
    .lateral-menu {
        transform: translateX(-100%);
    }
    .open-menu {
        display: flex;
        z-index: 20000;
    }
    .tickets {
        margin-left: 0;
        padding: 0;
        padding-inline: 0px;
    }
    .details {
        display: none;
    }
    .responsive {
        display: none !important;
    }
    .nav-title {
        margin-top: 20px;
    }
    .support-icon {
        display: none;
    }
    .support-name {
        display: none;
    }
    .send-button {
        min-width: 18%;
    }
    .actions {
        min-height: 50px;
    }
    .messages-container {
        height: 100%;
    }
    .row-user-inputs {
        min-height: 70px;
        margin-bottom: 70px;
    }
    .form {
        overflow-y: scroll;
    }
    #ytb-responsive {
        padding-bottom: calc(56.25% * 1);
        width: 100%;
    }
    .art-img {
        width: 100%;
    }
    .outline-sh {
        margin-top: 0;
    }
    #chat-alert {
        width: 90%;
    }
    .selector {
        margin-top: 10px;
    }
}
    
@media screen and (max-height: 737px) {
    .step {
        display: none;
    } 
}